@import '../../bower_components/compass-mixins/lib/compass';

/*
 * MAKE preboot.scss
 */

// Variables
// --------------------------------------------------

//Descriptive colors
$white:				#ffffff;
$text:				#171717;
$primary:           #3070d1;
$secondary:         #eaecee;
$detail:            #b9bcbf;

//Functional colors
$a:					$white;
$b:					$text;
$c:                 $primary;
$d:                 $secondary;
$e:                 $detail;

//Fonts
$sans:        		"Open Sans", Helvetica, Arial, sans-serif;
$heading:        	"Helvetica Neue", Helvetica, Arial, sans-serif;
$mono: 				"Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;

//Break points
$one:				600px;
$two:				800px;
$three:				1100px;

//Grid
$width:				960px;
$col:				92px;
$gut:				32px;

//Baseline
$base: 				22px;

//Element
$indent:			1.5em;
$rule: 				1px solid $b;

// Mixins
// --------------------------------------------------

@mixin no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin border-radius($radius: 3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin for($media) {
  @if $media == small-screens {
    @media screen and (min-width: $one) { @content; }
  }
  @else if $media == medium-screens {
    @media screen and (min-width: $two) { @content; }
  }
  @else if $media == large-screens {
    @media screen and (min-width: $three) { @content; }
  }
}

/*
 * END MAKE preboot.scss
 */


